[Desktop Entry]
Version=1.0
Name=Web Browser
Name[en_US]=Web Browser
Name[pt_BR]=Web Browser
Name[es_GT]=Web Browser
Comment=Web Browser
GenericName=WebBrowser
Icon=/usr/share/webbrowser/data/imgs/browser-icon.png
Exec=browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognito


